{% set repo_id = repo_id | default("RussianNLP/FRED-T5-Summarizer") %}
{% set device = device | default("cuda:0") %}
{% set input_text = input_text | default('<LM> Сократи текст.\n В деревне, затерянной среди зелёных холмов, жил старик по имени Иван. Его жизнь протекала медленно и размеренно. Каждое утро Иван выходил на поля, чтобы заботиться о своём скромном участке земли. Он выращивал картофель и морковь, которые были его главным источником пищи. Вечера старик проводил у камина, читая книги и вспоминая молодость. Жизнь в деревне была тяжёлая, но Иван находил в ней простые радости.') %}
{% set num_beams = num_beams | default(5) %}
{% set min_new_tokens = min_new_tokens | default(17) %}
{% set max_new_tokens = max_new_tokens | default(200) %}
{% set do_sample = do_sample | default(True) %}
{% set no_repeat_ngram_size = no_repeat_ngram_size | default(4) %}
{% set top_p = top_p | default(0.9) %}
repo_id = '{{ repo_id }}'
device = '{{ device }}'
input_text = '''{{ input_text }}'''
num_beams = {{ num_beams }}
min_new_tokens = {{ min_new_tokens }}
max_new_tokens = {{ max_new_tokens }}
do_sample = {{ do_sample }}
no_repeat_ngram_size = {{ no_repeat_ngram_size }}
top_p = {{ top_p }}

import os
import torch
from transformers import GPT2Tokenizer, AutoModelForSeq2SeqLM

tokenizer = GPT2Tokenizer.from_pretrained(repo_id, eos_token='</s>')
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id)
model = model.to(device)

inputs = tokenizer(input_text, return_tensors='pt').to(device)
input_ids = inputs.input_ids

outputs = model.generate(
    input_ids=input_ids,
    num_beams=num_beams,
    min_new_tokens=min_new_tokens,
    max_new_tokens=max_new_tokens,
    do_sample=do_sample,
    no_repeat_ngram_size=no_repeat_ngram_size,
    top_p=top_p,
    eos_token_id=tokenizer.eos_token_id,
)

summary = tokenizer.decode(outputs[0], skip_special_tokens=True)

RESULT = {'summary_text': summary}
