{% set repo_id = repo_id | default("bardsai/finance-sentiment-ja-base") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("text-classification") %}
{% set input_prompt = input_prompt | default("売上高は30%増の3,600万ユーロとなった。") %}
repo_id = {{ repo_id | tojson }}
task = {{ task | tojson }}
device = {{ device | tojson }}
input_prompt = {{ input_prompt | tojson }}

from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, device=device)
RESULT = pipe(input_prompt)
