{% set device = "cuda:0" %}
{% set repo_id = "facebook/mms-tts-amh" %}
{% set text = "some example text in the Amharic language" %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
text = "{{ text }}"

import os
import torch
from transformers import VitsModel, AutoTokenizer
import scipy.io.wavfile as wavfile

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = VitsModel.from_pretrained(repo_id).to(device)
model.eval()

# Pre-process input (the text should be romanized using an external tool such as uroman)
inputs = tokenizer(text, return_tensors="pt").to(device)

# Run inference
with torch.no_grad():
    output = model(**inputs).waveform

# Post-process & build RESULT dict
waveform = output[0].cpu().numpy()
RESULT = {
    "waveform": waveform,
    "sampling_rate": model.config.sampling_rate,
}
