{% set repo_id = repo_id | default("timm/mixer_b16_224.goog_in21k_ft_in1k") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("image-classification") %}
{% set input_data = input_data | default("/u/yunqili4/projects/ML-code-generation/data/image1.jpeg") %}

task = {{ task | tojson }}
model = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_data = {{ input_data | tojson }}

from transformers import pipeline

pipe = pipeline(task=task, model=model, device=device)
RESULT = pipe(input_data)
