{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("utrobinmv/t5_translate_en_ru_zh_small_1024") %}
{% set text_to_translate = text_to_translate | default("translate to zh: The purpose of the development is to provide users with a personal synchronized interpreter.") %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_to_translate = "{{ text_to_translate }}"

from pathlib import Path
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id)
model.to(device)

batch = tokenizer(text_to_translate, return_tensors="pt")
batch = batch.to(device)

generated_tokens = model.generate(**batch)
translated_texts = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)

RESULT = {"translation": translated_texts}
