{% set device = "cuda:0" %}
{% set repo_id = "huggingface/informer-tourism-monthly" %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
import inspect
from transformers import InformerForPrediction
print(inspect.signature(InformerForPrediction.forward))
print(inspect.getsource(InformerForPrediction))
