{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("peft-internal-testing/tiny-clip-text-2") %}
{% set prompt = prompt | default("A minimalist description of a cat") %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
prompt = "{{ prompt }}"

from pathlib import Path
import json

import torch
from transformers import AutoTokenizer, CLIPTextModelWithProjection

device = torch.device(device)

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = CLIPTextModelWithProjection.from_pretrained(repo_id)
model = model.to(device)

inputs = tokenizer(
    prompt,
    padding="max_length",
    truncation=True,
    max_length=tokenizer.model_max_length,
    return_tensors="pt",
)
inputs = {key: value.to(device) for key, value in inputs.items()}

with torch.no_grad():
    outputs = model(**inputs)

text_embeddings = outputs.text_embeds
text_embeddings = text_embeddings[0].cpu().tolist()

RESULT = {"text_embeddings": text_embeddings}
