{% set device = "cuda:0" %}
{% set repo_id = "facebook/mbart-large-50-many-to-many-mmt" %}
{% set text_input = "The UN secretary-general says there is no military solution in Syria." %}
{% set src_lang = "en_XX" %}
{% set target_lang = "fr_XX" %}
repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
text_input = {{ text_input | tojson }}
src_lang = {{ src_lang | tojson }}
target_lang = {{ target_lang | tojson }}

import torch
from pathlib import Path
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id)
model.to(device)
model.eval()

tokenizer.src_lang = src_lang
encoded_inputs = tokenizer(text_input, return_tensors="pt")
encoded_inputs = {key: value.to(device) for key, value in encoded_inputs.items()}

forced_bos_token_id = tokenizer.lang_code_to_id[target_lang]
generated_tokens = model.generate(
    **encoded_inputs,
    forced_bos_token_id=forced_bos_token_id,
)

decoded_sentences = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)
translation = decoded_sentences[0] if decoded_sentences else ""

RESULT = {"translation": translation}
