{% set repo_id = repo_id | default("jplu/tiny-tf-bert-random") %}
{% set device = device | default("cuda:0") %}
{% set text = text | default('Hello world!') %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text = {{ text | tojson }}

import numpy as np
from transformers import AutoTokenizer, AutoConfig, AutoModelForMaskedLM
from huggingface_hub import hf_hub_download

config_path = hf_hub_download(repo_id=repo_id, filename="config.json")
weights_path = hf_hub_download(repo_id=repo_id, filename="tf_model.h5")

tokenizer = AutoTokenizer.from_pretrained(repo_id)
config = AutoConfig.from_pretrained(config_path)
model = AutoModelForMaskedLM.from_config(config)

inputs = tokenizer(text, return_tensors="pt")
outputs = model(**inputs)
RESULT = {"logits": outputs.logits.detach().cpu().numpy()}
