{% set device = "cuda:0" %}
{% set repo_id = "Helsinki-NLP/opus-mt-en-cs" %}
{% set input_text = "The quick brown fox jumps over the lazy dog." %}

repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_text = {{ input_text | tojson }}

from pathlib import Path

from transformers import AutoModelForSeq2SeqLM, MarianTokenizer

tokenizer = MarianTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id)
model.to(device)

tokenized = tokenizer(input_text, return_tensors="pt", padding=True, truncation=True).to(device)

generated_tokens = model.generate(**tokenized)

translations = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)
translation = translations[0] if translations else ""

RESULT = {"translation": translation}
