{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("hustvl/vitmatte-base-composition-1k") %}
repo_id = "{{ repo_id }}"

from transformers.models.vitmatte import VitMatteImageProcessor
import inspect

print(inspect.getsource(VitMatteImageProcessor))
