{% set device = "cuda:0" %}
{% set repo_id = "M-CLIP/XLM-Roberta-Large-Vit-L-14" %}
repo_id = "debug"
import transformers as _transformers
print([name for name in dir(_transformers.utils) if 'device' in name])
