{% set repo_id = "Helsinki-NLP/opus-mt-ru-bg" %}
{% set device = "cuda:0" %}
{% set text_input = "Привет, как дела?" %}
{% set target_lang_token = ">>bg<<" %}
{% set max_length = 200 %}
{% set output_filename = "translation.txt" %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_input = "{{ text_input }}"
target_lang_token = "{{ target_lang_token }}"
max_length = {{ max_length }}
output_filename = "{{ output_filename }}"

import os
from pathlib import Path

import torch
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

torch_device = torch.device(device)

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(torch_device)

source_text = f"{target_lang_token} {text_input}"
encoded_inputs = tokenizer(source_text, return_tensors="pt")
encoded_inputs = {key: value.to(torch_device) for key, value in encoded_inputs.items()}

generated_tokens = model.generate(**encoded_inputs, max_length=max_length)
translation = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)[0]

RESULT = {"translation": translation}
