{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("facebook/mms-tts-yor") %}
{% set text_input = text_input | default("Ẹ̀kúnrẹ́rẹ́ ìtàn kan nípa ìrìn àjò ayé Yoruba") %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_input = "{{ text_input }}"

from pathlib import Path

import torch
from scipy.io import wavfile
from transformers import AutoTokenizer, VitsModel

torch_device = torch.device(device)

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = VitsModel.from_pretrained(repo_id).to(torch_device)
model.eval()

model_inputs = tokenizer(text_input, return_tensors="pt")
model_inputs = {key: value.to(torch_device) for key, value in model_inputs.items()}

with torch.no_grad():
    model_output = model(**model_inputs)

waveform = model_output.waveform
waveform = waveform.squeeze(0).cpu().numpy()

RESULT = {"waveform": waveform}
