{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("deepset/tapas-large-nq-hn-reader") %}
import inspect
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained("deepset/tapas-large-nq-hn-reader")
print(inspect.signature(tokenizer.convert_logits_to_predictions))
