{% set repo_id = repo_id | default("Helsinki-NLP/opus-mt-eo-en") %}
{% set device = device | default("cuda:0") %}
{% set translation_input = translation_input | default("Saluton, mondo!") %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
translation_input = "{{ translation_input }}"

from pathlib import Path
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

tokenized_inputs = tokenizer(translation_input, return_tensors="pt")
tokenized_inputs = {key: value.to(device) for key, value in tokenized_inputs.items()}

generated_tokens = model.generate(**tokenized_inputs)
translated_texts = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)

RESULT = {"translation": translated_texts}
