{% set repo_id = repo_id | default("unsloth/Qwen2.5-Coder-3B-Instruct-bnb-4bit") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("text-generation") -%}
{% set model = model | default(repo_id) -%}
{% set input_prompt = input_prompt | default("Hello! Please provide a short code snippet that prints 'Hello World'.") -%}

task = {{ task | tojson }}
model = {{ model | tojson }}
device = {{ device | tojson }}
input_prompt = {{ input_prompt | tojson }}

from transformers import pipeline

pipe = pipeline(task=task, model=model, device=device)
RESULT = pipe(input_prompt)
