{% set repo_id = repo_id | default("transformer3/H2-keywordextractor") %}
{% set device = device | default("cuda:0") %}
{% set inputs = inputs | default("I love AutoTrain 🤗") %}
{% set max_length = max_length | default(128) %}
{% set min_length = min_length | default(12) %}
{% set num_beams = num_beams | default(4) %}
{% set length_penalty = length_penalty | default(1.0) %}
{% set no_repeat_ngram_size = no_repeat_ngram_size | default(3) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
inputs = "{{ inputs }}"
max_length = {{ max_length }}
min_length = {{ min_length }}
num_beams = {{ num_beams }}
length_penalty = {{ length_penalty }}
no_repeat_ngram_size = {{ no_repeat_ngram_size }}

import os
import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

# Pre-process input
inputs_encoded = tokenizer(inputs, return_tensors="pt").to(device)

# Run inference
generated_ids = model.generate(
    **inputs_encoded,
    max_length=max_length,
    min_length=min_length,
    num_beams=num_beams,
    length_penalty=length_penalty,
    no_repeat_ngram_size=no_repeat_ngram_size,
)

# Post-process & build RESULT dict
summary = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]
RESULT = {"summary_text": summary}
