{% set device = "cuda:0" %}
{% set repo_id = "NeelNanda/SoLU_1L512W_C4_Code" %}
repo_id = "{{ repo_id }}"
import json
from huggingface_hub import HfApi

api = HfApi()
files = api.list_repo_files(repo_id)
print(json.dumps(files, indent=2))
