{% set repo_id = repo_id | default("timm/coatnet_2_rw_224.sw_in12k") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("image-classification") %}
{% set model = model | default(repo_id) %}
{% set input_data = input_data | default("/u/yunqili4/projects/ML-code-generation/data/image1.jpeg") %}

task = {{ task | tojson }}
model = {{ model | tojson }}
device = {{ device | tojson }}
input_data = {{ input_data | tojson }}

from transformers import pipeline

pipe = pipeline(task=task, model=model, device=device)
RESULT = pipe(input_data)
