{% set device = "cuda:0" %}
{% set repo_id = "rahular/varta-t5" %}
{% set text_input = "summarize: Generate a concise summary in English for this Indic languages news article." %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_input = """{{ text_input }}"""

import os
import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id)
model.to(device)

inputs = tokenizer(text_input, return_tensors="pt")
inputs = {key: value.to(device) for key, value in inputs.items()}

with torch.no_grad():
    generated_ids = model.generate(**inputs)

decoded_text = tokenizer.decode(generated_ids[0], skip_special_tokens=True)

RESULT = {"generated_text": decoded_text}
