{% set device = "cuda:0" %}
{% set repo_id = "Helsinki-NLP/opus-mt-en-zh" %}
{% set input_text = "The quick brown fox jumps over the lazy dog." %}
{% set target_language = "zho" %}
{% set max_new_tokens = 64 %}
{% set num_beams = 4 %}

repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_text = {{ input_text | tojson }}
target_language = {{ target_language | tojson }}
max_new_tokens = {{ max_new_tokens }}
num_beams = {{ num_beams }}

import os
import torch
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id)

torch_device = torch.device(device)
model = model.to(torch_device)

language_token = f">>{target_language}<<"
prefixed_text = f"{language_token} {input_text}"
inputs = tokenizer(prefixed_text, return_tensors="pt")
inputs = {key: value.to(torch_device) for key, value in inputs.items()}

generated_tokens = model.generate(
    **inputs,
    max_new_tokens=max_new_tokens,
    num_beams=num_beams,
)

translation = tokenizer.decode(generated_tokens[0], skip_special_tokens=True)

RESULT = {"translation": translation}
