{% set device = "cuda:0" %}
{% set repo_id = "myshell-ai/MeloTTS-English-v3" %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"

from huggingface_hub import hf_hub_download
import json

config_path = hf_hub_download(repo_id=repo_id, filename="config.json")
with open(config_path, "r") as f:
    config = json.load(f)

print(config)
