{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("facebook/genre-linking-blink") %}
{% set text_input = text_input | default("Einstein was a [START_ENT] German [END_ENT] physicist.") %}
{% set num_beams = num_beams | default(5) %}
{% set num_return_sequences = num_return_sequences | default(5) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_input = "{{ text_input }}"
num_beams = {{ num_beams }}
num_return_sequences = {{ num_return_sequences }}
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
import os

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)
inputs = tokenizer([text_input], return_tensors="pt")
inputs = {k: v.to(device) for k, v in inputs.items()}
generated_tokens = model.generate(
    **inputs,
    num_beams=num_beams,
    num_return_sequences=num_return_sequences,
)
decoded_texts = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)
RESULT = {"generated_texts": decoded_texts}
