{% set repo_id = repo_id | default("circulus/kobart-trans-informal-v2") %}
{% set device = device | default("cuda:0") %}
{% set text_input = text_input | default("안녕하세요! 오늘 하루가 어떠신가요?") %}
{% set max_new_tokens = max_new_tokens | default(64) %}
{% set num_beams = num_beams | default(4) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_input = "{{ text_input }}"
max_new_tokens = {{ max_new_tokens }}
num_beams = {{ num_beams }}

import os
import torch
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id)
model.to(device)
model.eval()

encoded_inputs = tokenizer(text_input, return_tensors="pt", truncation=True)
encoded_inputs = {k: v.to(device) for k, v in encoded_inputs.items()}

with torch.no_grad():
    generated_ids = model.generate(
        **encoded_inputs,
        max_new_tokens=max_new_tokens,
        num_beams=num_beams,
    )

generated_texts = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)
generated_text = generated_texts[0] if generated_texts else ""

RESULT = {"generated_text": generated_text}
