{% set repo_id = repo_id | default("apple/DepthPro-hf") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("depth-estimation") %}
{% set input_image = input_image | default("/u/yunqili4/projects/ML-code-generation/data/image1.jpeg") %}

task = {{ task | tojson }}
repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_image = {{ input_image | tojson }}

from PIL import Image
from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, device=device)

image = Image.open(input_image)

RESULT = pipe(image)
