{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("rhasspy/faster-whisper-small-int8") %}
repo_id = "{{ repo_id }}"

import huggingface_hub as hf

files = hf.list_repo_files(repo_id)

RESULT = {"files": files}
