{% set device = "cuda:0" %}
{% set repo_id = "facebook/wmt19-en-de" %}
{% set text_input = "Machine learning is great, isn't it?" %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
input_text = "{{ text_input }}"

from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
import os

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)
model.eval()

encoded_inputs = tokenizer(input_text, return_tensors="pt")
encoded_inputs = {key: tensor.to(device) for key, tensor in encoded_inputs.items()}
generated_tokens = model.generate(**encoded_inputs)
translation = tokenizer.decode(generated_tokens[0], skip_special_tokens=True)

RESULT = {"translation": translation}
