{% set repo_id = repo_id | default("Helsinki-NLP/opus-mt-bg-en") %}
{% set device = device | default("cuda:0") %}
{% set text = text | default('Здравей, свят!') %}
repo_id = '{{ repo_id }}'
device = '{{ device }}'
text = '{{ text }}'

from pathlib import Path
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

inputs = tokenizer(text, return_tensors='pt')
inputs = {k: v.to(device) for k, v in inputs.items()}

generated_ids = model.generate(**inputs)
translation = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]

RESULT = {'translation': translation}
