{% set device = "cuda:0" %}
{% set repo_id = "deepset/bert-small-mm_retrieval-passage_encoder" %}
{% set text_passage = "In dense passage retrieval tasks, context passages are embedded by specialized encoders to facilitate efficient nearest-neighbor search." %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_passage = """{{ text_passage }}"""

import json
import os

import torch
from transformers import AutoModel, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModel.from_pretrained(repo_id).to(device)
model.eval()

inputs = tokenizer(
    text_passage,
    truncation=True,
    padding=True,
    return_tensors="pt",
)
inputs = {name: tensor.to(device) for name, tensor in inputs.items()}

with torch.no_grad():
    model_outputs = model(**inputs)

pooler_output = model_outputs.pooler_output
context_embedding = pooler_output[0].detach().cpu().tolist()

RESULT = {"context_embedding": context_embedding}
