{% set repo_id = repo_id | default("yiyanghkust/finbert-pretrain") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("fill-mask") %}
{% set masked_prompt = masked_prompt | default("Paris is the {mask} of France.") %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
task = "{{ task }}"
masked_prompt = "{{ masked_prompt }}"

from transformers import pipeline, BertForMaskedLM, BertTokenizer

tokenizer = BertTokenizer.from_pretrained(repo_id)
model = BertForMaskedLM.from_pretrained(repo_id).to(device)
pipe = pipeline(task=task, model=model, tokenizer=tokenizer, device=device)
mask_token = pipe.tokenizer.mask_token
text = masked_prompt.replace("{mask}", mask_token)
RESULT = pipe(text)
