{% set repo_id = repo_id | default("utrobinmv/tts_ru_free_hf_vits_low_multispeaker") %}
{% set device = device | default("cuda:0") %}
{% set text = text | default("прив+ет, как дел+а? всё +очень хорош+о! а у тебя как?") %}
{% set speaker_id = speaker_id | default(0) %}
{% set seed = seed | default(555) %}
{% set accent_model_size = accent_model_size | default("turbo") %}
{% set accent_use_dictionary = accent_use_dictionary | default(True) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text = "{{ text }}"
speaker_id = {{ speaker_id }}
seed = {{ seed }}
accent_model_size = "{{ accent_model_size }}"
accent_use_dictionary = {{ accent_use_dictionary }}

from transformers import VitsModel, AutoTokenizer, set_seed
import torch
import scipy.io.wavfile
import os
from ruaccent import RUAccent

set_seed(seed)

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = VitsModel.from_pretrained(repo_id).to(device)
model.eval()

accentizer = RUAccent()
accentizer.load(omograph_model_size=accent_model_size, use_dictionary=accent_use_dictionary, device=device)

text = accentizer.process_all(text)

inputs = tokenizer(text, return_tensors="pt").to(device)

with torch.no_grad():
    waveform = model(**inputs, speaker_id=speaker_id).waveform
    waveform = waveform.detach().cpu().numpy()[0]

RESULT = {"waveform": waveform, "sampling_rate": model.config.sampling_rate}
