{% set repo_id = repo_id | default("laituan245/molt5-base") %}
{% set device = device | default("cuda:0") %}
{% set max_length = max_length | default(64) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
max_length = {{ max_length }}

from transformers import AutoTokenizer, T5ForConditionalGeneration
import torch
from huggingface_hub import hf_hub_download

tokenizer_path = hf_hub_download(repo_id=repo_id, filename="tokenizer.json")
special_tokens_map_path = hf_hub_download(repo_id=repo_id, filename="special_tokens_map.json")
tokenizer_config_path = hf_hub_download(repo_id=repo_id, filename="tokenizer_config.json")
spiece_model_path = hf_hub_download(repo_id=repo_id, filename="spiece.model")
_ = hf_hub_download(repo_id=repo_id, filename="pytorch_model.bin")

model = T5ForConditionalGeneration.from_pretrained(repo_id)
model.to(device)
model.eval()

tokenizer = AutoTokenizer.from_pretrained(
    repo_id,
    model_max_length=512,
    tokenizer_file=tokenizer_path,
    special_tokens_map_file=special_tokens_map_path,
    tokenizer_config_file=tokenizer_config_path,
    use_fast=False,
)

text = "Translate the following molecule description to SMILES: aspirin"
inputs = tokenizer(text, return_tensors="pt")
inputs = {k: v.to(device) for k, v in inputs.items()}
with torch.no_grad():
    generated_ids = model.generate(**inputs, max_length=max_length)
output_text = tokenizer.decode(generated_ids[0], skip_special_tokens=True)

RESULT = {"text": output_text}
