{% set device = "cuda:0" %}
{% set repo_id = "allegro/plt5-base" %}
{% set prompt = "translate Polish to English: To jest testowy akapit opisujący pogodę." %}
{% set max_new_tokens = 64 %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
prompt = "{{ prompt }}"
max_new_tokens = {{ max_new_tokens }}

import os
import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

inputs = tokenizer(prompt, return_tensors="pt")
inputs = {key: value.to(device) for key, value in inputs.items()}

generated_tokens = model.generate(**inputs, max_new_tokens=max_new_tokens)

generated_texts = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)
RESULT = {"generated_text": generated_texts[0]}
