{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("microsoft/cocolm-base") %}
repo_id = "{{ repo_id }}"

import os
from huggingface_hub import snapshot_download

cache_path = snapshot_download(repo_id, local_dir=None, local_dir_use_symlinks=False)
print(cache_path)
print(os.listdir(cache_path))
