{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("facebook/m2m100_1.2B") %}
{% set src_text = src_text | default("जीवन एक चॉकलेट बॉक्स की तरह है।") %}
{% set src_lang = src_lang | default("hi") %}
{% set tgt_lang = tgt_lang | default("fr") %}
device = "{{ device }}"
repo_id = "{{ repo_id }}"
src_text = "{{ src_text }}"
src_lang = "{{ src_lang }}"
tgt_lang = "{{ tgt_lang }}"

import os
from transformers import M2M100ForConditionalGeneration, M2M100Tokenizer

tokenizer = M2M100Tokenizer.from_pretrained(repo_id)
model = M2M100ForConditionalGeneration.from_pretrained(repo_id)
model.to(device)

tokenizer.src_lang = src_lang
encoded = tokenizer(src_text, return_tensors="pt")
encoded = encoded.to(device)

forced_bos_token_id = tokenizer.get_lang_id(tgt_lang)
generated_tokens = model.generate(**encoded, forced_bos_token_id=forced_bos_token_id)

translation = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)[0]

RESULT = {"translation": translation}
