{% set repo_id = repo_id | default("echarlaix/distilbert-base-uncased-finetuned-sst-2-english-openvino") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("text-classification") -%}
{% set accelerator = accelerator | default("openvino") -%}
{% set input_prompt = input_prompt | default("I love the Hong Kong University of Science and Technology, my favorite course is MATH4343: Introduction to Graph Theory.") -%}

task = {{ task | tojson }}
accelerator = {{ accelerator | tojson }}
model = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_prompt = {{ input_prompt | tojson }}

from optimum.intel import pipeline

pipe = pipeline(task=task, model=model, device=device, accelerator=accelerator)
preprocessed_inputs = input_prompt
RESULT = pipe(preprocessed_inputs)
RESULT = {"predictions": RESULT}
