{% set repo_id = repo_id | default("valhalla/s2t_mustc_multilinguial_medium") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("automatic-speech-recognition") %}
{% set input_audio_path = input_audio_path | default("/u/yunqili4/projects/ML-code-generation/data/audio.wav") %}

task = "{{ task }}"
repo_id = "{{ repo_id }}"
model = repo_id
device = "{{ device }}"
input_audio_path = "{{ input_audio_path }}"

from transformers import (
    Speech2TextConfig,
    Speech2TextFeatureExtractor,
    Speech2TextForConditionalGeneration,
    Speech2TextTokenizer,
    pipeline,
)

config = Speech2TextConfig.from_pretrained(repo_id)
model = Speech2TextForConditionalGeneration.from_pretrained(repo_id, config=config)
tokenizer = Speech2TextTokenizer.from_pretrained(repo_id)
feature_extractor = Speech2TextFeatureExtractor.from_pretrained(repo_id)

pipe = pipeline(
    task=task,
    model=model,
    tokenizer=tokenizer,
    feature_extractor=feature_extractor,
    device=device,
)
RESULT = pipe(input_audio_path)
