{% set repo_id = repo_id | default("mispeech/ced-base") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("audio-classification") %}
{% set input_data = input_data | default("/u/yunqili4/projects/ML-code-generation/data/audio.wav") %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
task = "{{ task }}"
input_data = "{{ input_data }}"

from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, device=device, trust_remote_code=True)
RESULT = pipe(input_data)
