{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("circulus/kobart-trans-polite-v2") %}
{% set text_input = text_input | default("안녕하세요. 오늘 하루 어떠세요?") %}
{% set max_new_tokens = max_new_tokens | default(128) %}
repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
text_input = {{ text_input | tojson }}
max_new_tokens = {{ max_new_tokens }}

import os

from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)
model.eval()

inputs = tokenizer(text_input, return_tensors="pt", truncation=True)
inputs = {key: value.to(device) for key, value in inputs.items()}

generated_tokens = model.generate(**inputs, max_new_tokens=max_new_tokens)
generated_text = tokenizer.decode(generated_tokens[0], skip_special_tokens=True)

RESULT = {"generated_text": generated_text}
