{% set repo_id = "uclanlp/plbart-java-cs" %}
{% set device = "cuda:0" %}
{% set src_code = "public class Example { public static int add(int a, int b) { return a + b; } }" %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
src_code = "{{ src_code }}"

import os
import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

inputs = tokenizer(src_code, return_tensors="pt").to(device)
generated_ids = model.generate(**inputs)
generated_text = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]

RESULT = {"generated_text": generated_text}
