{% set repo_id = repo_id | default("timm/tf_efficientnetv2_l.in21k") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("image-classification") %}
{% set image_path = image_path | default("/u/yunqili4/projects/ML-code-generation/data/image1.jpeg") %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
task = "{{ task }}"
image_path = "{{ image_path }}"

from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, device=device)
RESULT = pipe(image_path)
