{% set repo_id = "valhalla/m2m100_tiny_random" %}
{% set device = "cuda:0" %}
{% set text = "Hello, world!" %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
text = "{{ text }}"

import os
import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

if isinstance(text, str):
    inputs = tokenizer(text, return_tensors="pt")
else:
    inputs = tokenizer(text, return_tensors="pt", padding=True)

inputs = {k: v.to(device) for k, v in inputs.items()}

generated_tokens = model.generate(**inputs)
generated_text = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)

RESULT = {"generated_text": generated_text}
