{% set repo_id = repo_id | default("rinna/japanese-gpt-neox-3.6b-instruction-ppo") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("text-generation") -%}
{% set input_prompt = input_prompt | default('ユーザー: コンタクトレンズを慣れるにはどうすればよいですか？""システム: これについて具体的に説明していただけますか？何が難しいのでしょうか？""ユーザー: 目が痛いのです。""システム: 分かりました、コンタクトレンズをつけると目がかゆくなるということですね。思った以上にレンズを外す必要があるでしょうか？""ユーザー: いえ、レンズは外しませんが、目が赤くなるんです。""システム: ') -%}

task = {{ task | tojson }}
model = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_prompt = {{ input_prompt | tojson }}

from transformers import pipeline

pipe = pipeline(task=task, model=model, device=device)
RESULT = pipe(input_prompt)
