{% set repo_id = repo_id | default("google/flan-t5-small") %}
{% set device = device | default("cuda:0") %}
{% set text_prompt = text_prompt | default("translate English to German: How old are you?") %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_prompt = "{{ text_prompt }}"

from pathlib import Path

import torch
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)
tokenizer = AutoTokenizer.from_pretrained(repo_id)

inputs = tokenizer(text_prompt, return_tensors="pt").to(device)
outputs = model.generate(**inputs)
generated_text = tokenizer.decode(outputs[0], skip_special_tokens=True)

RESULT = {"generated_text": generated_text}
