{% set repo_id = repo_id | default("facebook/mbart-large-50-many-to-one-mmt") %}
{% set device = device | default("cuda:0") %}
{% set text = text | default('संयुक्त राष्ट्र के प्रमुख का कहना है कि सीरिया में कोई सैन्य समाधान नहीं है') %}
{% set src_lang = src_lang | default('hi_IN') %}
{% set tgt_lang = tgt_lang | default('en_XX') %}
{% set max_new_tokens = max_new_tokens | default(64) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text = {{ text | tojson }}
src_lang = {{ src_lang | tojson }}
tgt_lang = {{ tgt_lang | tojson }}
max_new_tokens = {{ max_new_tokens }}

import torch
from transformers import MBartForConditionalGeneration, MBart50TokenizerFast

model = MBartForConditionalGeneration.from_pretrained(repo_id)
tokenizer = MBart50TokenizerFast.from_pretrained(repo_id)
model.to(device)
model.eval()

tokenizer.src_lang = src_lang
inputs = tokenizer(text, return_tensors="pt")
inputs = {k: v.to(device) for k, v in inputs.items()}
forced_bos_token_id = tokenizer.lang_code_to_id[tgt_lang]

with torch.no_grad():
    generated_tokens = model.generate(
        **inputs,
        max_new_tokens=max_new_tokens,
        forced_bos_token_id=forced_bos_token_id,
    )
output_text = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)[0]

RESULT = {"translation": output_text}
