{% set repo_id = "airkingbd/dplm_3b" %}
{% set device = "cuda:0" %}
{% set input_sequence = input_sequence | default("MKTAYIAKQRQISFVKSHFSRQ") %}
{% set max_new_tokens = max_new_tokens | default(64) %}
{% set num_return_sequences = num_return_sequences | default(1) %}
{% set temperature = temperature | default(1.0) %}

repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_sequence = {{ input_sequence | tojson }}
max_new_tokens = {{ max_new_tokens | int }}
num_return_sequences = {{ num_return_sequences | int }}
temperature = {{ temperature | float }}

import os
import torch
from transformers import AutoModelForMaskedLM, AutoTokenizer

device = torch.device(device)

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForMaskedLM.from_pretrained(repo_id).to(device)
model.eval()

inputs = tokenizer(input_sequence, return_tensors="pt")
inputs = {key: value.to(device) for key, value in inputs.items()}

with torch.no_grad():
    outputs = model(**inputs)

logits = outputs.logits
predicted_ids = logits.argmax(dim=-1)
predicted_sequence = tokenizer.batch_decode(predicted_ids, skip_special_tokens=True)
RESULT = {"predicted_sequence": predicted_sequence}
