{% set device = "cuda:0" %}
{% set repo_id = "facebook/mgenre-wiki" %}
{% set input_sentences = ["[START] Einstein [END] era un fisico tedesco."] %}
{% set num_beams = 5 %}
{% set num_return_sequences = 5 %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
input_sentences = {{ input_sentences }}
num_beams = {{ num_beams }}
num_return_sequences = {{ num_return_sequences }}
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer
import os

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)
model.eval()

encoded_inputs = tokenizer(input_sentences, return_tensors="pt", padding=True).to(device)
outputs = model.generate(
    **encoded_inputs,
    num_beams=num_beams,
    num_return_sequences=num_return_sequences,
)

generated_texts = tokenizer.batch_decode(outputs, skip_special_tokens=True)

RESULT = {"generated_entities": generated_texts}
