{% set repo_id = repo_id | default("ThomasNLG/t5-qg_squad1-en") %}
{% set device = device | default("cuda:0") %}
{% set text_input = text_input | default('sv1 </s> Louis 14 </s> Louis 14 was a French King.') %}
{% set max_new_tokens = max_new_tokens | default(32) %}
{% set num_beams = num_beams | default(4) %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_input = "{{ text_input }}"
max_new_tokens = {{ max_new_tokens }}
num_beams = {{ num_beams }}

from huggingface_hub import hf_hub_download
import torch
from transformers import AutoTokenizer, T5ForConditionalGeneration

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = T5ForConditionalGeneration.from_pretrained(repo_id)
model = model.to(device)
model.eval()

inputs = tokenizer(text_input, return_tensors="pt")
inputs = {k: v.to(device) for k, v in inputs.items()}

with torch.no_grad():
    output_ids = model.generate(**inputs, max_new_tokens=max_new_tokens, num_beams=num_beams)

output_text = tokenizer.decode(output_ids[0], skip_special_tokens=True)

RESULT = {"generated_text": output_text}
