{% set repo_id = repo_id | default("tohoku-nlp/bert-base-japanese-char-whole-word-masking") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("fill-mask") %}
{% set masked_prompt = masked_prompt | default("仙台は「[MASK]の都」と呼ばれている。") %}

repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
task = {{ task | tojson }}
masked_prompt = {{ masked_prompt | tojson }}

from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, device=device)
mask_token = pipe.tokenizer.mask_token
text = masked_prompt.replace("[MASK]", mask_token)
RESULT = pipe(text)
