{% set repo_id = repo_id | default("timm/deit3_base_patch16_224.fb_in22k_ft_in1k") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("image-classification") %}
{% set input_data = input_data | default("/u/yunqili4/projects/ML-code-generation/data/image1.jpeg") %}

repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
task = {{ task | tojson }}
input_data = {{ input_data | tojson }}
model = repo_id

from transformers import pipeline

pipe = pipeline(task=task, model=model, device=device)
RESULT = pipe(input_data)
