{% set repo_id = repo_id | default("Open-Orca/LlongOrca-7B-16k") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("text-generation") %}
{% set input_prompt = input_prompt | default("Hello, my name is Eric, how are you?") %}

task = {{ task | tojson }}
repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_prompt = {{ input_prompt | tojson }}

from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, device=device)

inputs = input_prompt

RESULT = pipe(inputs)
