{% set repo_id = "Helsinki-NLP/opus-mt-cs-en" %}
{% set device = "cuda:0" %}
{% set source_text = "Dobrý den! Toto je test překladu." %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
source_text = {{ source_text | tojson }}

from pathlib import Path
from transformers import AutoModelForSeq2SeqLM, MarianTokenizer

model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)
tokenizer = MarianTokenizer.from_pretrained(repo_id)

inputs = tokenizer(source_text, return_tensors="pt")
inputs = {key: value.to(device) for key, value in inputs.items()}

generated_ids = model.generate(**inputs)
translation = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]

RESULT = {"translation": translation}
