{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("NeelNanda/SoLU_6L768W_C4_Code") %}
repo_id = "{{ repo_id }}"

from huggingface_hub import list_repo_files

files = list_repo_files(repo_id)

RESULT = {"files": files}
