{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("huggingface/autoformer-tourism-monthly") %}
from transformers.models.autoformer.modeling_autoformer import AutoformerForPrediction
import inspect
print(AutoformerForPrediction)
