{% set repo_id = repo_id | default("dkleczek/bert-base-polish-cased-v1") %}
{% set device = device | default("cuda:0") %}
{% set text = text | default("Adam Mickiewicz wielkim polskim <mask> był.") %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text = "{{ text }}"

import os
import json
from transformers import AutoTokenizer, pipeline

tokenizer = AutoTokenizer.from_pretrained(repo_id)
if device.startswith("cuda"):
    device_id = int(device.split(":")[1])
else:
    device_id = -1
nlp = pipeline("fill-mask", model=repo_id, tokenizer=tokenizer, device=device_id)

input_text = text.replace("<mask>", tokenizer.mask_token)
predictions = nlp(input_text)

RESULT = {"predictions": predictions}
