{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("Helsinki-NLP/opus-mt-de-it") %}
{% set src_text = src_text | default("Ein einfacher deutscher Beispielsatz.") %}
{% set num_beams = num_beams | default(4) %}
{% set max_length = max_length | default(512) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
src_text = "{{ src_text }}"
num_beams = {{ num_beams }}
max_length = {{ max_length }}

from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
import torch
import os

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

inputs = tokenizer(src_text, return_tensors="pt", padding=True)
inputs = {k: v.to(device) for k, v in inputs.items()}

generated_ids = model.generate(**inputs, num_beams=num_beams, max_length=max_length)
translation = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]

RESULT = {"translation": translation}
