{% set repo_id = repo_id | default("TaylorAI/Flash-Llama-30M-20001") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("text-generation") %}
{% set input_prompt = input_prompt | default("Hello, my name is Eric, how are you?") %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
task = "{{ task }}"
input_prompt = "{{ input_prompt }}"

from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, device=device)
RESULT = pipe(input_prompt)
