{% set repo_id = repo_id | default("facebook/mbart-large-cc25") %}
{% set device = device | default("cuda:0") %}
{% set text = text | default('Hello, world!') %}
{% set src_lang = src_lang | default('en_XX') %}
{% set tgt_lang = tgt_lang | default('ro_RO') %}
{% set max_new_tokens = max_new_tokens | default(40) %}
{% set num_beams = num_beams | default(5) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text = "{{ text }}"
src_lang = "{{ src_lang }}"
tgt_lang = "{{ tgt_lang }}"
max_new_tokens = {{ max_new_tokens }}
num_beams = {{ num_beams }}

import torch
from transformers import AutoTokenizer, MBartForConditionalGeneration
from huggingface_hub import hf_hub_download

weights_path = hf_hub_download(repo_id=repo_id, filename="pytorch_model.bin")
config_path = hf_hub_download(repo_id=repo_id, filename="config.json")
generation_config_path = hf_hub_download(repo_id=repo_id, filename="generation_config.json")
tokenizer_path = hf_hub_download(repo_id=repo_id, filename="tokenizer.json")
spm_path = hf_hub_download(repo_id=repo_id, filename="sentencepiece.bpe.model")

model = MBartForConditionalGeneration.from_pretrained(repo_id, local_files_only=True)
tokenizer = AutoTokenizer.from_pretrained(repo_id, local_files_only=True)

tokenizer.src_lang = src_lang
inputs = tokenizer(text, return_tensors="pt")
inputs = {k: v.to(device) for k, v in inputs.items()}
model = model.to(device)
model.eval()

forced_bos_token_id = tokenizer.lang_code_to_id.get(tgt_lang)
output_ids = model.generate(
    **inputs,
    max_new_tokens=max_new_tokens,
    num_beams=num_beams,
    forced_bos_token_id=forced_bos_token_id,
)
output_text = tokenizer.batch_decode(output_ids, skip_special_tokens=True)[0]

RESULT = {"translation": output_text}
