{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("ai-forever/RuM2M100-418M") %}
{% set text_input = text_input | default("прийдя в МГТУ я был удивлен никого необноружив там…") %}
{% set src_lang = src_lang | default("ru") %}
{% set tgt_lang = tgt_lang | default("ru") %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
text_input = "{{ text_input }}"
src_lang = "{{ src_lang }}"
tgt_lang = "{{ tgt_lang }}"

from pathlib import Path
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM

tokenizer = AutoTokenizer.from_pretrained(repo_id, src_lang=src_lang, tgt_lang=tgt_lang)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

tokenizer.src_lang = src_lang
tokenizer.tgt_lang = tgt_lang

# Pre-process input
inputs = tokenizer(text_input, return_tensors="pt")
inputs = {name: tensor.to(device) for name, tensor in inputs.items()}

# Run inference
generated_tokens = model.generate(
    **inputs,
    forced_bos_token_id=tokenizer.get_lang_id(tgt_lang),
)

# Post-process output
corrected_texts = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)
corrected_text = corrected_texts[0]

RESULT = {"corrected_text": corrected_text}
