{% set repo_id = repo_id | default("csebuetnlp/banglat5_nmt_en_bn") %}
{% set device = device | default("cuda:0") %}
{% set input_text = input_text | default("Please translate the following sentence into Bengali.") %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
input_text = "{{ input_text }}"

import os
import torch
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer
from normalizer import normalize

tokenizer = AutoTokenizer.from_pretrained(repo_id, use_fast=False)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id)
model = model.to(torch.device(device))
model.eval()

generated_inputs = tokenizer(normalize(input_text), return_tensors="pt")
inputs = {key: value.to(next(model.parameters()).device) for key, value in generated_inputs.items()}
generated_tokens = model.generate(**inputs)
translation = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)[0]

RESULT = {"translation": translation}
