{% set repo_id = repo_id | default("tanganke/clip-vit-base-patch32_svhn") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("image-feature-extraction") %}
{% set image_path = image_path | default("/u/yunqili4/projects/ML-code-generation/data/image1.jpeg") %}
{% set image_processor = image_processor | default("openai/clip-vit-base-patch32") %}

task = {{ task | tojson }}
repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
image_path = {{ image_path | tojson }}
image_processor = {{ image_processor | tojson }}

from PIL import Image
from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, image_processor=image_processor, device=device)

input_image = Image.open(image_path)
RESULT = pipe(input_image)
