{% set repo_id = repo_id | default("tuner007/pegasus_paraphrase") %}
{% set device = device | default("cuda:0") %}
{% set input_text = input_text | default('The ultimate test of your knowledge is your capacity to convey it to another.') %}
{% set num_beams = num_beams | default(10) %}
{% set num_return_sequences = num_return_sequences | default(10) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
input_text = "{{ input_text }}"
num_beams = {{ num_beams }}
num_return_sequences = {{ num_return_sequences }}

import torch
from transformers import PegasusForConditionalGeneration, PegasusTokenizer


tokenizer = PegasusTokenizer.from_pretrained(repo_id, use_fast=False)
model = PegasusForConditionalGeneration.from_pretrained(repo_id)
model = model.to(device)
model.eval()

batch = tokenizer([input_text], truncation=True, padding='longest', max_length=60, return_tensors="pt").to(device)
translated = model.generate(**batch, max_length=60, num_beams=num_beams, num_return_sequences=num_return_sequences, temperature=1.5)
output_text = tokenizer.batch_decode(translated, skip_special_tokens=True)

RESULT = {"output_text": output_text}
