{% set repo_id = repo_id | default("RedHatAI/Qwen2-1.5B-Instruct-FP8") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("text-generation") %}
{% set input_prompt = input_prompt | default("Hello, my name is Eric, how are you?") %}

task = {{ task | tojson }}
repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_prompt = {{ input_prompt | tojson }}
model = repo_id

from transformers import pipeline

pipe = pipeline(task=task, model=model, device=device)
RESULT = pipe(input_prompt)
