{% set repo_id = repo_id | default("line-corporation/line-distilbert-base-japanese") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("fill-mask") %}
{% set masked_prompt = masked_prompt | default("LINE株式会社で{mask}の研究・開発をしている。") %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
task = "{{ task }}"
masked_prompt = "{{ masked_prompt }}"

from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, device=device, trust_remote_code=True)
mask_token = pipe.tokenizer.mask_token
text = masked_prompt.replace("{mask}", mask_token)
RESULT = pipe(text)
