{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("LTP/base") %}
import pkg_resources

dist = pkg_resources.get_distribution("ltp")
print("ltp dependencies:", sorted(str(req) for req in dist.requires()))
