{% set repo_id = repo_id | default("cis-lmu/glot500-base") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("fill-mask") %}
{% set masked_prompt = masked_prompt | default("Paris is the {mask} of France.") %}

repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
task = {{ task | tojson }}
model = repo_id
masked_prompt = {{ masked_prompt | tojson }}

from transformers import pipeline

pipe = pipeline(task=task, model=model, device=device)
mask_token = pipe.tokenizer.mask_token
text = masked_prompt.replace("{mask}", mask_token)
RESULT = pipe(text)
