{% set repo_id = repo_id | default("facebook/mask2former-swin-tiny-cityscapes-semantic") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("image-segmentation") %}
{% set input_image_path = input_image_path | default("/u/yunqili4/projects/ML-code-generation/data/image1.jpeg") %}

task = {{ task | tojson }}
input_image_path = {{ input_image_path | tojson }}
repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}

from PIL import Image
from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, device=device)

image = Image.open(input_image_path).convert("RGB")

RESULT = pipe(image)
