{% set repo_id = repo_id | default("asapp/sew-tiny-100k") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("automatic-speech-recognition") %}
{% set audio_path = audio_path | default("/u/yunqili4/projects/ML-code-generation/data/audio.wav") %}
{% set tokenizer = tokenizer | default("facebook/wav2vec2-base-960h") %}

task = "{{ task }}"
repo_id = "{{ repo_id }}"
device = "{{ device }}"
audio_path = "{{ audio_path }}"
tokenizer = "{{ tokenizer }}"

from transformers import pipeline

pipe = pipeline(task=task, model=repo_id, tokenizer=tokenizer, device=device)
RESULT = pipe(audio_path)
