{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("Rostlab/prot_albert") %}
{% set sequence = sequence | default('M T E Y K L V V V G A G G V G K S A L T I Q L I Q') %}
repo_id = '{{ repo_id }}'
device = '{{ device }}'
sequence = '{{ sequence }}'

import torch
from transformers import AlbertTokenizer, AlbertModel

tokenizer = AlbertTokenizer.from_pretrained(repo_id)
model = AlbertModel.from_pretrained(repo_id)
model.to(device)

inputs = tokenizer(sequence, return_tensors='pt')
inputs = {k: v.to(device) for k, v in inputs.items()}

with torch.no_grad():
    outputs = model(**inputs)

embeddings = outputs.last_hidden_state
RESULT = {'embeddings': embeddings}
