{% set repo_id = "Jiqing/tiny-random-tvp" %}
{% set device = "cuda:0" %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
import inspect
from transformers.models import tvp
print("tvp classes", [name for name, obj in inspect.getmembers(tvp.modeling_tvp, inspect.isclass) if obj.__module__ == tvp.modeling_tvp.__name__])
