{% set repo_id = repo_id | default("Kyle1668/ag-news-t5-large") %}
{% set device = device | default("cuda:0") %}
{% set input_prompt = input_prompt | default("summarize: Latest tech news reported that a major company is releasing an affordable, energy-efficient laptop for students this fall.") %}
{% set max_length = max_length | default(128) %}
{% set num_beams = num_beams | default(4) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
input_prompt = {{ input_prompt | tojson }}
max_length = {{ max_length }}
num_beams = {{ num_beams }}

from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
import os

tokenizer = AutoTokenizer.from_pretrained(repo_id, use_fast=False)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

encoded_inputs = tokenizer(input_prompt, return_tensors="pt")
encoded_inputs = {key: value.to(device) for key, value in encoded_inputs.items()}

generated_ids = model.generate(**encoded_inputs, max_length=max_length, num_beams=num_beams)
decoded_outputs = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)
generated_text = decoded_outputs[0]

RESULT = {"generated_text": generated_text}
