{% set repo_id = repo_id | default("vblagoje/bart_lfqa") %}
{% set device = device | default("cuda:0") %}
{% set query = query | default('Why does water heated to room temperature feel colder than the air around it?') %}
{% set documents = documents | default([
    'when the skin is completely wet. The body continuously loses water by...',
    'at greater pressures. There is an ambiguity, however, as to the meaning of the terms \'heating\' and \'cooling\'...',
    'are not in a relation of thermal equilibrium, heat will flow from the hotter to the colder, by whatever pathway...',
    'air condition and moving along a line of constant enthalpy toward a state of higher humidity. A simple example ...',
    'Thermal contact conductance In physics, thermal contact conductance is the study of heat conduction between solid ...'
]) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
query = "{{ query }}"
documents = {{ documents }}

import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from huggingface_hub import hf_hub_download

config_path = hf_hub_download(repo_id=repo_id, filename='config.json')
weights_path = hf_hub_download(repo_id=repo_id, filename='model.safetensors')
tokenizer_path = hf_hub_download(repo_id=repo_id, filename='tokenizer.json')
tokenizer_config_path = hf_hub_download(repo_id=repo_id, filename='tokenizer_config.json')
vocab_path = hf_hub_download(repo_id=repo_id, filename='vocab.json')
merges_path = hf_hub_download(repo_id=repo_id, filename='merges.txt')

model = AutoModelForSeq2SeqLM.from_pretrained(repo_id)
tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = model.to(device)
model.eval()

conditioned_doc = '<P> ' + ' <P> '.join([d for d in documents])
query_and_docs = 'question: {} context: {}'.format(query, conditioned_doc)
model_input = tokenizer(query_and_docs, truncation=True, padding=True, return_tensors='pt')
model_input = {k: v.to(device) for k, v in model_input.items()}

with torch.no_grad():
    generated_answers_encoded = model.generate(
        input_ids=model_input['input_ids'],
        attention_mask=model_input['attention_mask'],
        min_length=64,
        max_length=256,
        do_sample=False,
        early_stopping=True,
        num_beams=8,
        temperature=1.0,
        top_k=None,
        top_p=None,
        eos_token_id=tokenizer.eos_token_id,
        no_repeat_ngram_size=3,
        num_return_sequences=1,
    )

output = tokenizer.batch_decode(generated_answers_encoded, skip_special_tokens=True, clean_up_tokenization_spaces=True)

RESULT = {"output": output}
