{% set repo_id = "Helsinki-NLP/opus-mt-pl-en" %}
{% set device = "cuda:0" %}
{% set input_text = "Ala ma kota." %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
input_text = "{{ input_text }}"

from transformers import AutoModelForSeq2SeqLM, AutoTokenizer
import os

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

encoded = tokenizer(input_text, return_tensors="pt").to(device)
generated_tokens = model.generate(**encoded)
decoded = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)

RESULT = {"translation": decoded}
