{% set repo_id = repo_id | default("nvidia/segformer-b3-finetuned-cityscapes-1024-1024") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("image-segmentation") %}
{% set input_image = input_image | default("/u/yunqili4/projects/ML-code-generation/data/image1.jpeg") %}

task = "{{ task }}"
model = "{{ repo_id }}"
device = "{{ device }}"
input_data = "{{ input_image }}"

from transformers import pipeline

pipe = pipeline(task=task, model=model, device=device)
RESULT = pipe(input_data)
