{% set text = text | default('Summarize the following dialogue:\nA: Hey, are we still meeting tomorrow?\nB: Yes, let\'s meet at 10am at the cafe.\nA: Great, see you then!') %}
{% set max_input_length = max_input_length | default(16384) %}
{% set max_new_tokens = max_new_tokens | default(64) %}
{% set num_beams = num_beams | default(6) %}
{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("MingZhong/DialogLED-base-16384") %}
repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
text = {{ text | tojson }}
max_input_length = {{ max_input_length }}
max_new_tokens = {{ max_new_tokens }}
num_beams = {{ num_beams }}

import torch
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
from huggingface_hub import hf_hub_download

config_path = hf_hub_download(repo_id=repo_id, filename='config.json')
weights_path = hf_hub_download(repo_id=repo_id, filename='pytorch_model.bin')
tokenizer_json_path = hf_hub_download(repo_id=repo_id, filename='tokenizer.json')
tokenizer_config_path = hf_hub_download(repo_id=repo_id, filename='tokenizer_config.json')
special_tokens_map_path = hf_hub_download(repo_id=repo_id, filename='special_tokens_map.json')
vocab_path = hf_hub_download(repo_id=repo_id, filename='vocab.json')
merges_path = hf_hub_download(repo_id=repo_id, filename='merges.txt')

model = AutoModelForSeq2SeqLM.from_pretrained(repo_id, torch_dtype=torch.float32, local_files_only=True)
tokenizer = AutoTokenizer.from_pretrained(repo_id, use_fast=True, local_files_only=True)
model.to(device)
model.eval()

inputs = tokenizer(text, return_tensors='pt', truncation=True, max_length=max_input_length)
inputs = {k: v.to(device) for k, v in inputs.items()}

with torch.no_grad():
    generated_ids = model.generate(
        **inputs,
        max_new_tokens=max_new_tokens,
        num_beams=num_beams,
        early_stopping=True,
    )
summary = tokenizer.decode(generated_ids[0], skip_special_tokens=True)

RESULT = {"summary": summary}
