{% set device = device | default("cuda:0") %}
{% set repo_id = repo_id | default("Salesforce/codet5p-220m") %}
{% set prompt = prompt | default("def print_hello_world():<extra_id_0>") %}
{% set max_length = max_length | default(64) %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
prompt = "{{ prompt }}"
max_length = {{ max_length }}

import os
import transformers
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer, PreTrainedTokenizer, PreTrainedTokenizerFast

# Patch tokenizer __init__ to skip add_tokens to avoid format errors
_orig_pt_init = PreTrainedTokenizer.__init__
_orig_ptf_init = PreTrainedTokenizerFast.__init__

def _patched_pt_init(self, *args, **kwargs):
    orig_add = PreTrainedTokenizer.add_tokens
    PreTrainedTokenizer.add_tokens = lambda self, tokens, **kwargs: None
    try:
        return _orig_pt_init(self, *args, **kwargs)
    finally:
        PreTrainedTokenizer.add_tokens = orig_add

def _patched_ptf_init(self, *args, **kwargs):
    orig_add_fast = PreTrainedTokenizerFast.add_tokens
    PreTrainedTokenizerFast.add_tokens = lambda self, tokens, **kwargs: None
    try:
        return _orig_ptf_init(self, *args, **kwargs)
    finally:
        PreTrainedTokenizerFast.add_tokens = orig_add_fast

transformers.PreTrainedTokenizer.__init__ = _patched_pt_init
transformers.PreTrainedTokenizerFast.__init__ = _patched_ptf_init

model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)
tokenizer = AutoTokenizer.from_pretrained(repo_id)

encoded_inputs = tokenizer(prompt, return_tensors="pt")
encoded_inputs = {key: value.to(device) for key, value in encoded_inputs.items()}
generated_ids = model.generate(**encoded_inputs, max_length=max_length)
generated_text = tokenizer.decode(generated_ids[0], skip_special_tokens=True)
RESULT = {"generated_text": generated_text}
