{% set repo_id = "google/long-t5-tglobal-xl" %}
{% set device = "cuda:0" %}
{% set prompt = "Summarize the benefits of efficient attention mechanisms for long-context modeling." %}
{% set max_new_tokens = 256 %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"
prompt = "{{ prompt }}"
max_new_tokens = {{ max_new_tokens }}

import os
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM
import torch

tokenizer = AutoTokenizer.from_pretrained(repo_id)
model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)

encoded_inputs = tokenizer(prompt, return_tensors="pt")
encoded_inputs = {k: v.to(device) for k, v in encoded_inputs.items()}

generated_tokens = model.generate(**encoded_inputs, max_new_tokens=max_new_tokens)

decoded_texts = tokenizer.batch_decode(generated_tokens, skip_special_tokens=True)
generated_text = decoded_texts[0] if decoded_texts else ""

RESULT = {"generated_text": generated_text}
