{% set device = "cuda:0" %}
{% set repo_id = "prithivida/passive_to_active_styletransfer" %}
{% set text = "The ball was kicked by the boy." %}
{% set max_length = 128 %}
{% set num_beams = 4 %}
{% set output_filename = "generated_passive2active.txt" %}

repo_id = "{{ repo_id }}"
device = "{{ device }}"
text = """{{ text }}"""
max_length = {{ max_length }}
num_beams = {{ num_beams }}
output_filename = "{{ output_filename }}"

from pathlib import Path
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

model = AutoModelForSeq2SeqLM.from_pretrained(repo_id).to(device)
tokenizer = AutoTokenizer.from_pretrained(repo_id)

inputs = tokenizer(text, return_tensors="pt")
inputs = {k: v.to(device) for k, v in inputs.items()}

generated_ids = model.generate(**inputs, max_length=max_length, num_beams=num_beams)
generated_text = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]

RESULT = {"generated_text": generated_text}
