{% set repo_id = repo_id | default("timm/eca_halonext26ts.c1_in1k") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("image-classification") %}
{% set input_image = input_image | default("/u/yunqili4/projects/ML-code-generation/data/image1.jpeg") %}

task = "{{ task }}"
repo_id = "{{ repo_id }}"
device = "{{ device }}"
input_image = "{{ input_image }}"
model = repo_id

from transformers import pipeline

pipe = pipeline(task=task, model=model, device=device)
RESULT = pipe(input_image)
