{% set repo_id = repo_id | default("protectai/distilroberta-bias-onnx") %}
{% set device = device | default("cuda:0") %}
{% set task = task | default("text-classification") %}
{% set input_prompt = input_prompt | default("I love the Hong Kong University of Science and Technology, my favorite course is MATH4343: Introduction to Graph Theory.") %}

task = {{ task | tojson }}
repo_id = {{ repo_id | tojson }}
device = {{ device | tojson }}
input_prompt = {{ input_prompt | tojson }}

from optimum.onnxruntime import ORTModelForSequenceClassification
from transformers import AutoTokenizer, pipeline

pipeline_device = -1 if device.startswith("cuda") else 0
model = ORTModelForSequenceClassification.from_pretrained(repo_id)
tokenizer = AutoTokenizer.from_pretrained(repo_id)
pipe = pipeline(task=task, model=model, tokenizer=tokenizer, device=pipeline_device)

predictions = pipe(input_prompt)
RESULT = {"predictions": predictions}
