{% set device = "cuda:0" %}
{% set repo_id = "Qdrant/all_miniLM_L6_v2_with_attentions" %}
repo_id = "{{ repo_id }}"
device = "{{ device }}"

from huggingface_hub import HfApi

api = HfApi()
files = api.list_repo_files(repo_id)

RESULT = {"files": files}
